In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import spacy
import pickle

In [7]:
nlp = spacy.load('en_core_web_lg')

data = pd.read_csv('tripadvisor_hotel_reviews.csv')
data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [7]:

with nlp.disable_pipes():
    vectors = np.array([nlp(review.Review).vector for idx, review in data.iterrows()])
    
vectors.shape

(20491, 300)

In [33]:
newdata = pd.read_csv('newdata.csv')
newdata.head()

                                              Review  Rating  sentiment
0  nice hotel expensive parking got good deal sta...       4          2
1  ok nothing special charge diamond member hilto...       2          0
2  nice rooms not 4* experience hotel monaco seat...       3          1
3  unique, great stay, wonderful time hotel monac...       5          2
4  great stay great stay, went seahawk game aweso...       5          2

In [36]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split
import pickle

X_train, X_test, y_train, y_test = train_test_split(vectors, newdata.sentiment, test_size=0.1, random_state=1)

model = LinearSVC(random_state=1, dual=False)

model.fit(X_train, y_train)

print(f'Model test accuracy: {model.score(X_test, y_test)*100:.3f}%')

# pickle.dump(model, open('tripadviserclassificationneutral.sav','wb'))

Model test accuracy: 86.927%

In [4]:
import pandas as pd
df = pd.read_csv('Hotel_Reviews.csv', index_col = False)
df = df[:1000]
df.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

In [5]:
positive = df['Positive_Review']
negative = df['Negative_Review']
frames = [positive,negative]
final = pd.concat(frames)
final = final.sample(frac=1)
final.head()

494     This is the second K K hotel I stayed at the ...
99      split level bedrooms although quirky are impr...
38      the only thing that would of been better is i...
154     Bar and restraint staff were great reception ...
56      there was construction work going on in the h...
dtype: object

In [8]:
with nlp.disable_pipes():
    testvectors = np.array([nlp(review).vector for review in final])
    
testvectors.shape

(2000, 300)

In [23]:
def senanalyze(x):
    y = []
    for i in x:
        if(i == 0):
            y.append("Negative")
        if(i == 1):
            y.append("Neutral")
        if(i == 2):
            y.append("Positive")
    return y

In [3]:
ls = []
loaded = pickle.load(open('tripadviserclassificationneutral.sav','rb'))
ls = loaded.predict(testvectors)

NameError: name 'testvectors' is not defined

In [33]:
n = senanalyze(ls)

In [32]:
final.to_csv("result.csv", index=False)

In [36]:
result = pd.read_csv('result.csv')
result.head()
n.append("0")

In [38]:
result['Sentiment'] = n
result.head()
result.to_csv("final_result.csv")